## Python connection and queries with MySQL

This file contains Execution of SQL queries with Python.

In [38]:
#importing libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [53]:
#calling the module file
%run ./module_functions.ipynb

### Creating the Database

In [40]:
db = "MySQL$Python"


#writing the query to drop the database
q1 = f"DROP DATABASE IF EXISTS {db}"
#calling the function to drop the database
drop_table(connection,q1)


#writing the query to create database
q2 = f"CREATE DATABASE {db}"
# # calling the function to create the database
create_database(connection, q2)

Database created successfully

### Creating Table

In [41]:
create_order_table = """
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

#connect to the database
connection = db_connection('localhost', user, pw, db)
#executing the query
execute_query(connection, create_order_table)

MySQL Database Connection Successfull.
Query Executed.

### Inserting Data into the Table.

In [42]:
data_orders = """
insert into orders values
(101,'Steve', 'HP Pavilion 1200', '2021-08-21',2,800,"+923000000000"),
(102,'usama', 'DELL Carbon 100', '2021-07-21',1,300,"+923000000000"),
(103,'Rashid', 'Lenovo Home 200', '2021-07-12',3,400,"+923000000000"),
(104,'Tahir', 'ASUS Probook 1100', '2021-08-10',2,500,"+923000000000"),
(105,'Raheel', 'MacBook Pro 2021', '2021-09-09',1,1200,"+923000000000"),
(106,'Khizer', 'ChromeBook 2020', '2021-10-02',3,800,"+923000000000");
"""

connection = db_connection('localhost', user,pw,db)
execute_query(connection, data_orders)

MySQL Database Connection Successfull.
Query Executed.

### Fetching Data from Database and displying the Data

In [43]:
#Function to execute the query and fetch the data

def read_query(connection,query):
    cursor=connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f'Error: {err}')

In [44]:
#Reading all the Table
read_data = """ SELECT * FROM orders;"""

connection = db_connection('localhost', user,pw,db)
results = read_query(connection,read_data)

for result in results:
    print(result)

MySQL Database Connection Successfull.
(101, 'Steve', 'HP Pavilion 1200', datetime.date(2021, 8, 21), 2, 800.0, '+923000000000')
(102, 'usama', 'DELL Carbon 100', datetime.date(2021, 7, 21), 1, 300.0, '+923000000000')
(103, 'Rashid', 'Lenovo Home 200', datetime.date(2021, 7, 12), 3, 400.0, '+923000000000')
(104, 'Tahir', 'ASUS Probook 1100', datetime.date(2021, 8, 10), 2, 500.0, '+923000000000')
(105, 'Raheel', 'MacBook Pro 2021', datetime.date(2021, 9, 9), 1, 1200.0, '+923000000000')
(106, 'Khizer', 'ChromeBook 2020', datetime.date(2021, 10, 2), 3, 800.0, '+923000000000')

In [45]:
#Fetching some specific data
specific_data = "SELECT customer_name, phone_number from orders;"

connection = db_connection('localhost', user,pw,db)
results = read_query(connection,specific_data)

for result in results:
    print(result)

MySQL Database Connection Successfull.
('Steve', '+923000000000')
('usama', '+923000000000')
('Rashid', '+923000000000')
('Tahir', '+923000000000')
('Raheel', '+923000000000')
('Khizer', '+923000000000')

In [46]:
#Fetching only date
date_year = "SELECT year(date_ordered) from orders;"

connection = db_connection('localhost', user,pw,db)
results = read_query(connection,date_year)

for result in results:
    print(result)

MySQL Database Connection Successfull.
(2021,)
(2021,)
(2021,)
(2021,)
(2021,)
(2021,)

In [47]:
#Fetching only distinct years
distinct_year = "SELECT distinct(year(date_ordered)) from orders;"

connection = db_connection('localhost', user,pw,db)
results = read_query(connection,distinct_year)

for result in results:
    print(result)

MySQL Database Connection Successfull.
(2021,)

In [48]:
#Query with where clause

data_after = "SELECT * from orders where date_ordered < '2021-09-01';"

connection = db_connection('localhost', user,pw,db)
results = read_query(connection,data_after)

for result in results:
    print(result)

MySQL Database Connection Successfull.
(101, 'Steve', 'HP Pavilion 1200', datetime.date(2021, 8, 21), 2, 800.0, '+923000000000')
(102, 'usama', 'DELL Carbon 100', datetime.date(2021, 7, 21), 1, 300.0, '+923000000000')
(103, 'Rashid', 'Lenovo Home 200', datetime.date(2021, 7, 12), 3, 400.0, '+923000000000')
(104, 'Tahir', 'ASUS Probook 1100', datetime.date(2021, 8, 10), 2, 500.0, '+923000000000')

In [49]:
# where and sort/order

order_unit_price=  "SELECT * from orders order by unit_price;"

connection = db_connection('localhost', user,pw,db)
results = read_query(connection,order_unit_price)

for result in results:
    print(result)

MySQL Database Connection Successfull.
(102, 'usama', 'DELL Carbon 100', datetime.date(2021, 7, 21), 1, 300.0, '+923000000000')
(103, 'Rashid', 'Lenovo Home 200', datetime.date(2021, 7, 12), 3, 400.0, '+923000000000')
(104, 'Tahir', 'ASUS Probook 1100', datetime.date(2021, 8, 10), 2, 500.0, '+923000000000')
(101, 'Steve', 'HP Pavilion 1200', datetime.date(2021, 8, 21), 2, 800.0, '+923000000000')
(106, 'Khizer', 'ChromeBook 2020', datetime.date(2021, 10, 2), 3, 800.0, '+923000000000')
(105, 'Raheel', 'MacBook Pro 2021', datetime.date(2021, 9, 9), 1, 1200.0, '+923000000000')

In [50]:
update_rec= "update orders set unit_price = 500 where order_id = 103"

connection = db_connection('localhost', user,pw,db)
execute_query(connection, update_rec)

MySQL Database Connection Successfull.
Query Executed.

In [51]:
# inserting a new row
new_row = """
insert into orders values
(107,'Obaid', 'MacBook Pro 2021', '2021-12-28',2,1200,"+923000000000");
"""

connection = db_connection('localhost', user,pw,db)
execute_query(connection, new_row)

MySQL Database Connection Successfull.
Query Executed.

### For the rest of the processing please check the file module_functions in the same directory